# Jupyter Notebook에서 자동 생성되는 체크포인트 파일
**/.ipynb_checkpoints

# Python 바이트코드 파일
**/__pycache__

# macOS에서 생성되는 DS_Store 파일
**/.DS_Store

# 데이터셋 이미지 파일
data/images

# 프로그램 실행 로그 파일
code/log

# 학습된 모델 파일
code/saved_models

# 실행 결과물 저장 디렉토리
code/submit
